[Unit]
Description=acquisition compteur Pollier et publication MMTQ
After=network-online.target mosquitto.service
Wants=network-online.target

[Service]
Type=simple
#ExecStart=/opt/domoaave/getEnergyAndPublish.o
ExecStart=/opt/domoaave/domoaave_client
WorkingDirectory=/opt/domoaave
Restart=always
RestartSec=5
KillSignal=SIGTERM
TimeoutStopSec=10

# Logs
StandardOutput=journal
StandardError=journal
#StandardError=append:/home/jehrlich/domoaave/logs/domoaave.err.log

#Securite
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ReadWritePaths=/home/jehrlich/domoaave/logs

[Install]
WantedBy=multi-user.target

